<section class="resume pt-4 pb-5 bg-darken" id="resume">
    <div class="container">
        <div class="row m-4 g-4">
            <h2 class="display-3 fw-bold text-body-emphasis text-center mb-4">Experience</h2>
            <div class="card p-0 pb-3">
            <div class="card-body p-0">
                <div class="d-xxl-flex justify-content-between align-items-center pe-3 pt-2">
                <h3 class="card-title fw-bold px-3 py-2 col-xxl-8"> 
                    <span class=" d-inline">
                    Web Developer (Social Service)
                    </span>
                </h3>
                <h3 class="ms-3 fs-5 mb-3 mb-xxl-0">
                    September 2023 - March 2024
                </h3>
                </div>
                <div class="me-3">
                <h4 class="card-subtitle fs-5 mb-2 ps-3"> 
                   <span> <i class="bi bi-buildings-fill"></i> </span> IIMAS, UNAM</h4>
                <p class="card-text ps-2 mx-2 pe-3">
                Designed and implemented web app interface for translators.
                <ul>
                    <li>Created mockups to visualize the web app's layout and structure using Figma and Inkscape.
                    </li>
                    <li> Developed front-end using HTML, Bulma, CSS and JavaScript ensuring responsiveness and accessibility while also implementing local storage.
                    </li>
                    <li> Built the back-end logic and integrated machine learning translation model using Python FastAPI framework. </li>
                    <li>Managed version control with Git.</li>
                </ul>
                </p>
                </div>
                
            </div>
            </div>
        </div>

        <!-- education -->
        <div class="row m-4 g-4">
            <h2 class="display-3 fw-bold text-body-emphasis text-center mb-4">Education</h2>

            <div class="card p-0 pb-3">
                <div class="card-body p-0">
                    <div class="d-xxl-flex justify-content-between align-items-center pe-3 pt-2">
                    <h3 class="card-title fw-bold px-3 py-2 col-xxl-8"> 
                        <span class="d-inline">
                        Postgraduate Diploma in Data Science
                        </span>
                    </h3>
                    <h3 class="fs-5 ms-3 mb-3 mb-xxl-0">
                        November 2024 - September 2025
                    </h3>
                    </div>
                    <div class="me-3">
                    <h4 class="card-subtitle fs-5 mb-2 ps-3"> <span> <i class="bi bi-buildings-fill"></i> </span> FES Acatlán, UNAM </h4>
                    <p class="card-text ps-2 mx-2 pe-3 mb-3">
                    Specialization program to generate organizational value through advanced data science techniques. Topics include data manipulation, visualization, supervised and unsupervised modeling, cognitive techniques (Deep Learning), and Big Data.
                    </p>
                    </div>
                </div>
            </div>

            <div class="card p-0 pb-3">
                <div class="card-body p-0">
                    <div class="d-xxl-flex justify-content-between align-items-center pe-3 pt-2">
                    <h3 class="card-title fw-bold px-3 py-2 col-xxl-8"> 
                        <span class=" d-inline">
                        Bachelor of Science in Physics
                        </span>
                    </h3>
                    <h3 class="fs-5 ms-3 mb-3 mb-xxl-0">
                        - December 2023
                    </h3>
                    </div>
                    <div class="me-3">
                    <h4 class="card-subtitle fs-5 mb-2 ps-3"> <span> <i class="bi bi-buildings-fill"></i> </span> Faculty of Sciences, UNAM </h4>
                    <p class="card-text ps-2 mx-2 pe-3 mb-3">
                    Developed analytical expertise and gained solving-problem skills in calculus, linear algebra, data analysis, theory of numbers and programming applied to physics.
                    </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- certifications -->
        <div class="row m-4 g-4">
            <h2 class="display-3 fw-bold text-body-emphasis text-center mb-4"> Certifications </h2>

            <div class="card p-0 pb-3">
                <div class="card-body p-0">
                    <div class="d-xxl-flex justify-content-between align-items-center pe-3 pt-2">
                    <h3 class="card-title fw-bold px-3 py-2 col-xxl-8"> 
                        <span class="d-inline">
                        Github Foundations
                        </span>
                    </h3>
                    </div>
                    <div class="me-3">
                    <p class="card-text ps-2 mx-2 pe-3 mb-3">
                    Issued by GitHub. <br>
                    Expires on July 2027. <br>
                    Relevant skills: GitHub repositories, commits, branching, markdowns, and project management.
                    </p>
                    </div>
                </div>
            </div>

        </div>


    </div>


</section>