<section id="skills" class="py-12 py-5 skills"> 
    <div class="container px-3"> 
        <div class="mb-8 space-y-4 flex flex-col items-center"> 
            <h2 class="display-3 fw-bold text-body-emphasis text-center mb-4"> My Skills </h2>  
        </div>  
    

        <!-- cards -->
        <div class="cards-container row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
            
            <div class="col card-div">
                <div class="card p-3">
                    <div class="card-body d-flex">
                        <h5 class="card-title fw-medium"> Data Science & Analytics </h5>
                        <p class="card-text pt-2">Building end-to-end pipelines to transform raw data into predictive insights. I specialize in exploratory analysis, supervised/unsupervised modeling, and deep learning, using interactive data storytelling to make complex results accessible and actionable.</p>
                        
                        <div class="mt-auto">
                            <div class="badge-group col p-0 pt-3 me-2">
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/python.svg"
                                        alt="python logo"
                                        title="Python" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/pandas.svg"
                                        alt="pandas logo"
                                        title="Pandas" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/plotly.svg"
                                        alt="plotly"
                                        title="Plotly" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/scikitlearn.svg"
                                        alt="scikit-learn logo"
                                        title="scikit-learn" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/keras.svg"
                                        alt="keras logo"
                                        title="Keras" />    
                                </span>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- otra col card-->
            <div class="col card-div">
                <div class="card p-3">
                    <div class="card-body d-flex">
                        <h5 class="card-title fw-medium"> Web Development </h5>
                        <p class="card-text pt-2"> With expertise in critical thinking and keen eye for detail, I enjoy crafting responsive and aesthetically pleasing solutions that bring friendly experiences to the digital landscape.  </p>
                        
                        <div class="mt-auto">
                            <div class="col p-0 pt-3 me-2">
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/javascript.svg"
                                        alt="javascript logo"
                                        title="JavaScript" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/fastapi.svg"
                                        alt="fastAPI logo"
                                        title="fastAPI" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/bootstrap.svg"
                                        alt="bootstrap"
                                        title="Bootstrap" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/bulma.svg"
                                        alt="bulma logo"
                                        title="bulma" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/sqlite.svg"
                                        alt="SQLite logo"
                                        title="SQLite" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/css.svg"
                                        alt="css logo"
                                        title="CSS" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/html5.svg"
                                        alt="html5 logo"
                                        title="HTML" />    
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- otra col card-->
            <div class="col card-div">
                <div class="card p-3">
                    <div class="card-body d-flex">
                        <h5 class="card-title fw-medium"> Design </h5>
                        <p class="card-text pt-2"> Designing clear and engaging experiences to convey complex insights. </p>
                        
                        <div class="mt-auto">
                            <div class="col p-0 pt-3 me-2">
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/figma.svg"
                                        alt="figma logo"
                                        title="Figma" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/coreldraw.svg"
                                        alt="coreldraw logo"
                                        title="CorelDraw" />    
                                </span>
                                

                            </div>
                        </div>

                    </div>
                </div>
            </div>

                        <!-- otra col card-->
            <div class="col card-div">
                <div class="card p-3">
                    <div class="card-body d-flex">
                        <h5 class="card-title fw-medium"> Productivity </h5>
                        <p class="card-text pt-2"> Keep code organized and accessible. </p>
                        
                        <div class="mt-auto">
                            <div class="col p-0 pt-3 me-2">
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/git.svg"
                                        alt="git logo"
                                        title="Git" />    
                                </span>
                                <span class="badge"> 
                                    <img
                                        src="/assets/images/svg/github.svg"
                                        alt="github logo"
                                        title="GitHub" />    
                                </span>
                                

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    
    </div> 
</section>